{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="section mt-5">
    <div class="container">
        <h2 class="mb-4">My Wishlist</h2>

        {% if wishlist_items %}
        <div class="row">
            {% for item in wishlist_items %}
            <div class="col-md-4 mb-4">
                <div class="card h-100 shadow-sm">
                    <a href="{% url 'order_form' item.product.id item.product.category.id %}">
                        <img src="{% if item.product.cover_image %}{{ item.product.cover_image.url }}{% else %}{% static 'images/default-product.jpg' %}{% endif %}" class="card-img-top" alt="{{ item.product.title }}"></a>
                    <div class="card-body">
                        <h5 class="card-title">{{ item.product.title }}</h5>
                        <p class="card-text"><strong>Supplier:</strong> {{ item.product.supplier.name }}</p>
                        <p class="card-text"><strong>Category:</strong> {{ item.product.category.name }}</p>
                    </div>
                    <div class="card-footer d-flex justify-content-between">
                        
                        <a href="{% url 'remove_from_wishlist' item.product.id %}" class="btn btn-sm btn-danger">Remove</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <p>You don't have any products in your wishlist yet.</p>
        {% endif %}
    </div>
</section>

{% endblock %}

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
