{% load static %}

<header>
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}">
        <h2>P<em>Shop</em></h2>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'show_products' %}">Our Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'show_name' %}">Suppliers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'show_manufacturer' %}">Manufacturer</a>
          </li>
          {% if user.is_authenticated %}
          {% if user.profile_picture %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownProfile" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              <img src="{{ user.profile_picture.url }}" class="rounded-circle border" alt="Profile Picture" width="40"
                height="40">
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownProfile">
              <li><a class="dropdown-item" href="{% url 'myAccount' %}">My Account</a></li>
              <li><a class="dropdown-item" href="#">My Orders</a></li>
              <li><a href="#" class="dropdown-item">My Wishlist</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
            </ul>
          </li>

          {% endif %}
          <li class="nav-item mx-2">
            <a href="#" class="nav-link text-white">
              <span id="cart-count" class="badge bg-danger" style="font-size: 1rem;">{{total_items}}</span>
              <i class="fa-solid fa-cart-shopping"></i></a>
          </li>
          {% else %}
          <li class="nav-item"><a class="nav-link" href="{% url 'customer_login' %}">Sign in</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'customer_registration' %}">Register</a></li>

          {% endif %}

        </ul>
      </div>
    </div>
  </nav>
</header>